<template>
  <div id="newTodoItem">
    <PageTitle title="New Todo"/>
    <form @submit.prevent="onSubmit">
      <div class="form-group">
        <label for="text">Description</label>
        <input type="text" class="form-control" id="text" placeholder="Description..." v-model="text">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</template>

<script>
  import axios from 'axios';
  import PageTitle from '@/components/PageTitle.vue'

  export default {
    components: {
      PageTitle
    },
    props: {
      id: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        text: ''
      }
    },
    methods: {
      onSubmit () {
        const data = {
          text: this.text
        }
        axios.post('/list/' + this.id + '/todo', data)
          .then(response => this.$router.push('/list/' + this.id + '/todo'))
          .catch(error => console.log(error))
      }
    }
  }
</script>