<template>
  <div id="editTodoList">
    <PageTitle title="Edit List"/>
    <form @submit.prevent="onSubmit">
      <div class="form-group">
        <label for="text">Name</label>
        <input type="text" class="form-control" id="text" value="text" v-model="list.text">
      </div>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
  </div>
</template>

<script>
  import axios from 'axios';
  import PageTitle from '@/components/PageTitle.vue'

  export default {
    components: {
      PageTitle
    },
    props: {
      id: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        list: {}
      }
    },
    created () {
      axios.get('/list/' + this.id)
        .then(response => {
          this.list = response.data
        })
        .catch(error => console.log('Error', error))
    },
    methods: {
      onSubmit () {
        axios.put('/list/' + this.id, this.list)
          .then(response => {
            console.log(response)
            this.$router.push('/')
          })
          .catch(error => console.log(error))
      }
    }
  }
</script>