<template>
  <div id="newTodoList">
    <PageTitle title="New List"/>
    <form @submit.prevent="onSubmit">
      <div class="form-group">
        <label for="text">Name</label>
        <input type="text" class="form-control" id="text" placeholder="List name..." v-model="text">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</template>

<script>
  import axios from 'axios';
  import PageTitle from '@/components/PageTitle.vue'

  export default {
    components: {
      PageTitle
    },
    data () {
      return {
        text: ''
      }
    },
    methods: {
      onSubmit () {
        const data = {
          text: this.text
        }
        axios.post('/list', data)
          .then(response => this.$router.push('/'))
          .catch(error => console.log(error))
      }
    }
  }
</script>